name: CICD process 
on:
  push:
    branches:
      - main
      - prod
jobs:
  init_env:
    runs-on: ubuntu-latest
    steps:
      - shell: bash
        env:
          CONDUIT_SECRET: ${{ secrets.SECRET_DESKTOP }}
        run:
          echo "SECRET:"$CONDUIT_SECRET